<form action="/admin/register" method="post">
  <div>
    <label for="title">name:</label>
    <input type="text" id="title" name="name">
  </div>
    <div>
    <label for="title">username:</label>
    <input type="text" id="title" name="username">
  </div>
    <div>
    <label for="title">email:</label>
    <input type="text" id="title" name="email">
  </div>
    <div>
    <label for="title">password:</label>
    <input type="text" id="title" name="password">
  </div>

  <input type="submit" value="Send Request">
</form>

