<form action="/admin/new" method="post" enctype="multipart/form-data">
  <div>
    <label for="title">title:</label>
    <input type="text" id="title" name="title">
  </div>
      <div>
        <label for="avatar">Profile picture 1:</label>
        <input type="file"
              id="avatar" name="imagen"
              accept="image/png, image/jpeg" />
    </div>
        <div>
        <label for="avatar">Profile picture 2:</label>
        <input type="file"
              id="avatar" name="imagen"
              accept="image/png, image/jpeg" />
    </div>
  <div>
    <label for="ee">Message:</label>
    <textarea id="ee" name="body"></textarea>
  </div>
  <input type="submit" value="Send Request">
</form>

