<form action="/blog/new" method="post">
  <div>
    <label for="title">title:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="ee">Message:</label>
    <textarea id="ee" name="body"></textarea>
  </div>
  <input type="submit" value="Send Request">
</form>

